@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --black: #333333;
    --orange: #cc6633;
    --green: #a4cc33;
    --blue: #2e3192;
    --whiteLightness: 100%;
    --white: hsl(0, 0%, var(--whiteLightness));
    --grayF4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
    --grayF3: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
    --grayEC: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
    --grayD9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
    --grayC4: hsl(0, 0%, calc(var(--whiteLightness) - 23%));
    --gray99: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
    --gray66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
    --reach-dialog: 1;
}
/*    <NULL>    */
* {
    padding: 0;
    margin: 0;
    border: 0;
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    box-sizing: border-box;
}

*:focus, *:active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--grayF3);
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', serif;
}

html, body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
}

html {
    overflow-x: hidden;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}


[data-reach-dialog-overlay] {
    background: hsla(0, 0%, 0%, 0.33);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

[data-reach-dialog-content] {
    width: 50vw;
    margin: 10vh auto;
    background: white;
    padding: 2rem;
    outline: none;
}
